<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザ更新</title>
</head>
<body>
    <h1>ユーザ更新</h1>
    <form th:action="@{/users/{id}/edit(id=${user.id})}" method="post">
        <label>名前: <input type="text" name="name" th:value="${user.name}" required></label><br>
        <label>Email: <input type="email" name="email" th:value="${user.email}" required></label><br>
        <button type="submit">更新</button>
    </form>
    <a href="/users">戻る</a>
</body>
</html>
